:root {
    --neutral-900: rgb(22 22 24);
    --neutral-750: rgb(54, 54, 54);
    --neutral-1000: rgb(0, 0, 0);

    --player-one-color: rgb(0, 189, 25);
    --player-two-color: rgb(240, 168, 13);
    --player-one-color-transparent: rgba(0, 189, 25, 0.3);
    --player-two-color-transparent: rgba(240, 168, 13, 0.3);

    --font-size1: 60px;
    --font-size2: 40px;
    --font-size3: 20px;

    --corner-radius: 10px;

    /* --neutral-600: rgb(82, 82, 82);
    --neutral-700: rgb(64, 64, 64);
    --neutral-800: rgb(38, 38, 38);
    --neutral-950: rgb(10, 10, 10); */
}

body, 
html {
    width: 100%;
    height: 100%;
    font-size: var(--font-size2);
    color: white;
    
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    font-weight: normal;
}

body {
    background-color: var(--neutral-900);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    padding-top: 40px;
    box-sizing: border-box;
}

.header {
    background-color: var(--neutral-750);
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.text-size1 {
    font-size: var(--font-size1);
}

.text-size3 {
    font-size: var(--font-size3);
}

.rounded-font {    
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    font-weight: normal;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--neutral-750);
    gap: 5px;
    border: 2px solid black;

    width: 300px;
    min-height: 300px;
    padding: 10px;
    border-radius: var(--corner-radius, 10px);

    -webkit-box-shadow: 0px 0px 14px 7px rgba(0,0,0,0.31); 
    box-shadow: 0px 0px 14px 7px rgba(0,0,0,0.31);
}

.winning-slot-one,
.winning-slot-two,
.board-slot {
    border-radius: 0px;
    border: 2px solid var(--neutral-1000);

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;

    font-size: 60px;
    user-select: none;
}

.board-slot {
    background-color: var(--neutral-900);
    transition: background-color 0.2s ease; 
}

.board-slot:hover {
    background-color: var(--neutral-750);
    transition: background-color 0.2s ease; 
}

.announcements {
    color: white;
    height: 50px;
}

.winning-slot-one {
    background-color: var(--player-one-color);
    color: rgb(31, 31, 31);
}

.winning-slot-two {
    background-color: var(--player-two-color);
    color: rgb(31, 31, 31);
}

.winning-slot-one, 
.winning-slot-two {
    transition: background-color 0.4s ease; 
    
}

.top-left-corner {
    border-radius: var(--corner-radius, 10px) 0px 0px 0px;
}

.top-right-corner {
    border-radius: 0px var(--corner-radius, 10px) 0px 0px;
}

.bottom-left-corner {
    border-radius: 0px 0px 0px var(--corner-radius, 10px);
}

.bottom-right-corner {
    border-radius: 0px 0px var(--corner-radius, 10px) 0px;
}

button {
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    font-weight: normal;
}

.restart-btn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

.restart-btn:hover {
    background-color: rgb(182, 182, 182);
}

.player-one {
    color: var(--player-one-color);
}

.player-two {
    color: var(--player-two-color);
}

.player-one-hover {
    color: var(--player-one-color-transparent);
}

.player-two-hover {
    color: var(--player-two-color-transparent);
}

@keyframes bounceAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(0.90); }
    100% { transform: scale(1); }
}

.bounce-animation {
    animation: bounceAnimation 0.3s ease;
}

#score div {
    text-align: center;
}

#score {
    display: flex;
    gap: 20px;
}

#player1 {
    background-color: var(--player-one-color);
}

#player2 {
    background-color: var(--player-two-color);
}

#player1, 
#player2 {
    border-radius: 10px;
    padding: 10px 20px;
    -webkit-box-shadow: 2px 5px 4px 1px rgba(0,0,0,0.21); 
    box-shadow: 2px 5px 4px 1px rgba(0,0,0,0.21);
}